* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

.menuLinks {
    margin: 0;
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    margin-left: 0 !important;
}

.Main {
    width: 80%;
    float: right;
}

.cates {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: auto 40px;
}

#categories {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: auto 40px;
}

#Game {
    margin: 20px auto;
    overflow-y: scroll;
}

#home {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.HomeContent {
    margin: 48px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 600px;
    margin-bottom: 20px;
}

.desc {
    width: 600px;
    margin-bottom: 20px;
}

    .desc h2 {
        margin-bottom: 20px;
    }

#about {
    background-color: yellow;
}

#Ref {
    background-color: green;
}

#Contact {
    background-color: brown;
}

.menuSideBar {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.links {
    width: 88%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menuLinks {
    height: 25%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .menuLinks.border {
        border: 1px solid white;
        border-radius: 17px;
        scroll-behavior: smooth;
    }

.cate {
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* height: 24px; */
    padding: 12px;
    border-radius: 14px;
}

a {
    color: black;
}

.placeHoderContainer {
    background-color: white;
    background-position: center;
    background-size: cover;
    /* opacity: 0.2; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.placeHolder, .card_style {
    margin: 100px auto;
    background: rgba(9, 9, 9, 0.789);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.countdowner {
    width: 300px;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    color: white;
    background-color: red;
}
