:root{
    --primary: #0d6efd;
    --secondary:#707070;
    --light:#ffffff;
    --dark:#000000;
    --headerfont:50px;
    --radius:5px;
    --btncolor:#2cd1eeb6;
    --lightsecondary:#a9acb1;
}

*{
    font-family: 'Roboto', sans-serif;
}
#logo{
    display: flex;
    align-items: center;
}
#logo #BrandName{
    margin-left:10px;
}
html, body{
    overflow-x:hidden !important;
}
nav a{
    color:  var(--dark) !important;
}
.navbar-brand img{
    width:2.5rem;
}
.navigation{
    
    width: 100%;
    background-color: #1b242f;
    justify-content: space-evenly;
    position: fixed;
    top: 0%;
    z-index: 400; 
    border-bottom: 4px solid #04c2c9;
}
.home{
    background-image: url("../../_data/Bg-Shape.svg");
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 55%;

}
.second-pg{
    background-image: url("../../_data/bg-2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.object {
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 30px;
    }
  }
.focusF:focus-visible{
    outline: none;
    box-shadow: none;
  }

.background{
    background-color: #7e76f93d;
}
.rotate{
    transform: rotate(90deg) !important;
}
/* .contactBg::before{
    content: " ";
    background-image: url("../../_data/footer-2.svg");
    background-repeat: no-repeat;
    background-position: bottom;
} */
/* .contactBg{
   
} */
.bg-graphic{
    height: 494px;
    background-image: url("../../_data/footer-11.svg"),  url("../../_data/footer-2.svg") ;
    background-repeat: no-repeat;
    /* background-position: bottom, left bottom; */
    background-size: 100%;
}
.desktopbar{
    width: 100%;
    background-color: #1b242f;
    justify-content: space-evenly;
    position: fixed;
    top: 0%;
    z-index: 400; 
    border-bottom: 4px solid #04c2c9;
}

.startbtn:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width:415px){
    header{
        backdrop-filter: saturate(55%) blur(10px) !important;
        padding: 0 !important;
        background-color: none !important;
    }
    .navigation{
        background-color: none !important;
    }
    nav{
        padding: 0 !important;
    }
    .contentBox a{
        color: black !important;
    }
    .contentBox{
        backdrop-filter: saturate(55%) blur(10px) !important;
        animation: toShow 0.5s linear;
    }
    @keyframes toShow {
        from{
    
            transform: translateY(-200px);
    
        }to{
    
        transform: translateY(0);
    
             }
    }
    .desktopbar{
        padding: 0 !important;
        backdrop-filter: saturate(55%) blur(10px) !important;
        background-color: transparent !important;
    }

     .margin{
         display: flex;
         flex-direction: column-reverse;
     }
     .margin-top{
        margin-top: 80px;
     }
    .svg-home{
        width: 352px !important;
        margin-bottom: 20px;
    }
    .bg-graphic{
        height: 785px;
        padding: 10px;
        /* background-image: url(../../_data/footer-2.svg); */
        background-color: #1e16a5;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
    
}
@media screen and (width :768px){
    header{
        backdrop-filter: saturate(55%) blur(10px) !important;
        padding: 0 !important;
        background-color: none !important;
    }
    nav{
        padding: 0 !important;
    }
    .contentBox a{
        color: black !important;
    }
    .contentBox{
        backdrop-filter: saturate(55%) blur(10px) !important;
        animation: toShow 0.5s linear;
    }
    @keyframes toShow {
        from{
    
            transform: translateY(-200px);
    
        }to{
    
        transform: translateY(0);
    
             }
    }
    .desktopbar{
        padding: 0 !important;
        backdrop-filter: saturate(55%) blur(10px) !important;
        background-color: transparent !important;
    }
    .bg-graphic{
       height: 429px;
    padding: 0px;
        /* background-image: url(../../_data/footer-2.svg); */
        background-color: #1e16a5;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
}
/* .links{
    background-image: url("../../_data/Bg-Shape.svg");
} */
.nav-link.createline{
    border-bottom: 2px solid;}
    .nav-link{
        color:white !important;
    }
    .slick-dots li button:before {
        width: 10px !important;
        height: 10px !important;
        color: none !important;
    }
    .contact {
        background-color: #252934;
        color: white;
        overflow-x: hidden;
    }
    .up{
        color: white !important;
        overflow-x: visible;
        font-size: 34px;
        background: #e31b6d;
        cursor: pointer;
        font-size: 30pt;
        height: 50px;
        left: 0;
        line-height: 40pt;
        margin: 0 auto;
        right: 0;
        top: -34px;
        position: relative;
        transition: 0.5s;
        width: 47px;
        /* z-index: 8000; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hr{
        width:200px;height:7px;margin:0px auto;
    }
    footer {
        background-color: #1b242f;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-x: visible;
    }
    